<#@ template visibility="internal" #>
<#if(Model.HasDescription){#>/** <#=Model.Description#> */
<#}#>export interface <#=Model.Class#><#=Model.Inheritance#> {
<#if(Model.GenerateInterfaceDiscriminator && (Model.HasDiscriminator || Model.HasBaseDiscriminator)){#>
    <#=Model.BaseDiscriminator#>: "<#=Model.DiscriminatorName#>";
<#}
foreach(var property in Model.Properties){#>
<#if(property.HasDescription){#>    /** <#=property.Description#> */
<#}#>    <#if(property.IsReadOnly){#>readonly <#}#><#=property.InterfaceName#><#if(property.IsOptional){#>?<#}#>: <#=property.Type#>;
<#}#>}